*{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}
.nav-items{
    display: flex;
}

.nav-item{
    margin: 20px;
}
.active-item{
    color: #FE5E35;
}
.intro-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 50px;
}

.left-section{
    width: 50%;
    margin-top: 100px;
    left: 40px;
}
.left-section h3{
    font-family: sans-serif;
    margin-bottom: 5px;
}
.circle{
    width: 35px;
    padding-left: 5px;
}
.heading{
    width: 456px;
    font-size: 65px;
    font-family: sans-serif;
}

.sub-headlines{
    margin-left: 55px;
    margin-top: 10px;
}
.sub-headline{
    font-size: 15px;
    font-weight: normal;
    padding: 5px;
}
.text{
    margin-top: 20px;
    font-size: 12px;
}
.action-btns{
    margin-top: 30px;
}
.btn{
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid white;
    border-radius: 15px ;
    color: white;
    background-color: #FE5E35;

}
.right-section{
    position: relative;
    width:50%;
    align-items: center;
}
.headphone-div{
    display: flex;
    justify-content: center;

}

.hdp-img{
    position: relative;
    width: 450px;
    top: 0px;
    right: 128px;
    z-index: -1;   
}

.discount{
    width: 105px;
    margin-right: 50px;
    margin-top: 195px;
}
.para{
    position: absolute;
    margin-right: 498px;
    margin-top: 298px;
}
.disc{
    font-size: 14px;
    margin-left: 2px;
    font-family:sans-serif;
    color:white;
}
.percent{
    font-size: 35px;
    color: white;

}
.action-btn{
    position: relative;
    left: 242px;
    padding: 7px 30px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 15px ;
    color: white;
    background-color: #FE5E35;
}

/* -------------media query------------------ */
@media screen and (max-width:750px){
    .nav-item{
        display: none;
    }
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .left-section{
        margin-right: 120px;
    }
    .right-section{
        padding: 10px 50px;
    }
    .action-btn{
        left: 30px;
    }
}